<div class="container">
    <header>
    <h1>Coffee Shop</h1>
    </header>
    <div class="colors">
        <h3>Three waiters are needed for each day</h3>
        <span class="bronze">Antique Bronze</span><span> - there is enough waiters</span>
        <span class="cordovan"> Cordovan</span><span> - there is more than 3 waiters</span>
        <span class="lightgrey">Lightslategrey</span><span> - there waiters are not enough</span>
    </div>
        <div class="table">
            <h3>Waiters available for work</h3>
            <table>
                <tr>
                    <th>Days</th>
                    <th>Name of waiter</th>
                </tr>
                {{#each mergedData}}
                <tr class="day-row">
                   
                    <td class="weekday">{{this.daysofweek}}</td>
                                   
                    <td><li class="waiter-count">{{this.waiters_name}}<br></li>
                     
                </tr>
                {{/each}}
            </table>
       
            <span class="adminErrors">
                {{messages.error1}}
            </span>
            <form action="/reset" method="post">
                <button type="submit">Reset data</button>
            </form>
        </div>
        <div class="admin">
            <div class="reschedule">
                <h3>Reschedule waiter</h3>
                <span class="adminError">
                    {{messages.error2}}
                    </span>
                    <span class="adminSucess">
                    {{messages.success2}}
                    </span>
                <form class='adminForm' action="/days" method="post">
                    <h4>Select a waiter name</h4>
                    <label for="waiterNames">Waiter name:</label>
                    <select class="waiterName" name="waiterNames">
                        <option value="">Select waiter</option>
                        {{#each names}}
                        <option value="{{this.waiters_name}}">{{this.waiters_name}}</option>
                        {{/each}}
                    </select>
                    <h4>Select Days</h4>
                    <div class="days">
                        <input type="checkbox" name="daysOfWeek" value="Monday">
                        <label for="">Monday</label><br>
                        <input type="checkbox" name="daysOfWeek" value="Tuesday">
                        <label for="">Tuesday</label><br>
                        <input type="checkbox" name="daysOfWeek" value="Wednesday">
                        <label for="">Wednesday</label><br>
                        <input type="checkbox" name="daysOfWeek" value="Thursday">
                        <label for="">Thursday</label><br>
                        <input type="checkbox" name="daysOfWeek" value="Friday">
                        <label for="">Friday</label><br>
                        <input type="checkbox" name="daysOfWeek" value="Saturday">
                        <label for="">Saturday</label><br>
                        <input type="checkbox" name="daysOfWeek" value="Sunday">
                        <label for="">Sunday</label><br>
                    </div>
                    <button type="submit">Reschedule</button>
                </form>
            </div>
            <div class="remove">
                <h3>Remove waiter</h3>
                <span class="adminError2">
                    {{messages.error3}}
                    </span>
                    <span class="adminSucess2">
                    {{messages.success3}}
                    </span>
                <form class='adminForm2' action="/admin" method="post">
                    <h4>Select a waiter name</h4>
                    <label for="waiterNames">Waiter name:</label>
                    
                    <select class="waiterName" name="waitersNames">
                        <option value="">Select Waiter</option>
                        {{#each names}}
                        <option value={{this.waiters_name}}>{{this.waiters_name}}</option>
                        {{/each}}
                    </select>
                    <h4>Select Days</h4>
                    
                    <div class="dayz">
                        <label for="Days">Day:</label>
                        <select class="Days" name="days">
                            <option value="">Select Day</option>
                            <option value="All">All days</option>
                            {{#each mergedData}}
                            <option value={{this.daysofweek}}>{{this.daysofweek}}</option>
                            {{/each}}
                        </select>
                    </div>
                    
                    <button type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        const messageAd = document.querySelector('.adminErrors');
        const messageAd2 = document.querySelector('.adminError');
        const messageAd3 = document.querySelector('.adminSucess'); 
        const messageAd4 = document.querySelector('.adminError2');
        const messageAd5 = document.querySelector('.adminSucess2'); 

        if (messageAd.innerHTML !== '') {
            setTimeout(function () { 
                messageAd.innerHTML = ''; 
            }, 3500);
        }
         if (messageAd2.innerHTML !== '') {
            setTimeout(function () { 
                messageAd2.innerHTML = ''; 
            }, 3500);
        }

        if (messageAd3.innerHTML !== '') {
            setTimeout(function () { 
                messageAd3.innerHTML = ''; 
            }, 3500);
        }

         if (messageAd4.innerHTML !== '') {
            setTimeout(function () { 
                messageAd4.innerHTML = ''; 
            }, 3500);
        }

         if (messageAd5.innerHTML !== '') {
            setTimeout(function () { 
                messageAd5.innerHTML = ''; 
            }, 3500);
        }

       document.addEventListener("DOMContentLoaded", function (){
    // Get all elements with class "day-row"
    const dayRows = document.querySelectorAll('.day-row');

    // Loop through each "day-row" element
    dayRows.forEach(dayRow => {
        const dayName = dayRow.querySelector('.weekday').textContent;
        const waiterNames = dayRow.querySelector('.waiter-count').textContent.split(',').map(name => name.trim());
        const waiterCount = waiterNames.length

        // Check if there are exactly 3 waiters and add green color
        if (waiterCount === 3) {
            dayRow.classList.add('green');
        }
        else if(waiterCount > 3){
            dayRow.classList.add('red');
        }
        else if(waiterCount < 3){
            dayRow.classList.add('grey')
        }
    });
})      
</script>

